DB_HOST=db
DB_NAME=moat
DB_USER=moat
DB_PASSWORD=moat

KC_HOSTNAME=http://keycloak:8080
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin
KEYCLOAK_ISSUER_URI=http://keycloak:8080/realms/moat

KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=keycloak